body {
    color: darkslategray;
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
  .container {
    width: 96%;
    max-width: 1020px;
    margin: 0 auto;
  }
  
  .small-container {
    margin: 0 auto;
    width: 92%;
    max-width: 1000px;
  }
  
  h1#site-title {
    font-size: 72px;
    letter-spacing: -3px;
    margin-top: 0;
    margin-bottom: .125em;
    text-align: center;
    font-weight: 900;
  }
  
  h1#article-title {
    color: teal;
    font-size: 48px;
    letter-spacing: -3px; 
    font-weight: 500; 
  }
  
  h2 {
    color: teal;
    font-weight: 500; 
  }
  
  p {
    line-height: 1.50;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 40px;
    margin-left: 40px;
  }
  
  figure {
    border: 1px solid black;
    padding: 24px;
    padding-bottom: 24px;
  }
  
  figure img {
    max-width: 100%;
    height: auto;
    margin-bottom: 24px;
  }
  
  figure.main-image {
    background: Teal;
    border-color: Teal;
    color: #ffffff;
  }
  
  figure.section-image {
     margin-bottom: 32px;
     max-width: 400px;
  }
  
  figure.section-image.odd {
      float: right;
      margin-left: 20px;
      margin-bottom: 32px;
      max-width: 400px;
  }
  
  figure.section-image.even {
      float: left;
      margin-right: 20px;
      margin-bottom: 32px;
      max-width: 400px;
  }
  
  p img {
    float: right;
    max-width: 60%;
    margin-left: 20px;
    margin-bottom: 32px;
  }
  
  nav ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
    padding-left: 0;
  }
  
  nav ul li a {
    color: Teal;
    text-decoration: none;
    padding: 12px;
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
  }
  
  header nav ul li a:hover {
    border-bottom: 3px solid Teal;
    padding-bottom: 9px;
  }
  
  header nav ul {
    border-top: 1px solid Teal;
    border-bottom: 1px solid Teal;
  }
  
  footer nav ul li a {
    color: #ffffff;
  }
  
  footer nav ul li a:hover {
    text-decoration: underline;
  }
  
  footer#page-footer {
    padding: 32px 0;
    margin-top: 64px;
    text-align: center;
    background-color: Teal;
    color: #ffffff;
  }
  
  .skip {
      position: absolute;
      left: -10000px;
      top: auto;
      width: 1px;
      height: 1px;
      overflow: hidden;
  }
    
  .skip:focus {
      position: static;
      width: auto;
      height: auto;
  }