body {
  color: teal;
  font-family: 'Noto Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.container {
    width: 96%;
    max-width: 1020px;
    margin: 0 auto;
}

h1#site-title {
  color: teal;
  font-size: 72px;
  letter-spacing: -1px;
  margin-top: 0;
  margin-bottom: .125em;
  text-align: center;
  font-weight: 900;
}

h1#article-title {
  color: black;
  font-size: 48px;
  letter-spacing: -1px;
  font-weight: 500;
}

h2{
  color: black;
  font-weight: 500;
}
  
p {
    line-height: 1.50;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 40px;
    margin-left: 40px;
}
  
figure {
    border: 1px solid black;
    padding: 20px;
    padding-bottom: 20px;
}
  
fig img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

figure.main-image{
    background: teal;
    border-color: black;
    color: white;
}
  
figure.section-image{
    margin-bottom: 32px;
    max-width: 400px;
}

figure.section-image.odd {
    float: right;
    margin-left: 20px;
    margin-bottom: 32px;
    max-width: 400px;
}

figure.section-image.even {
    float: left;
    margin-right: 20px;
    margin-bottom: 32px;
    max-width: 400px;
}

p img {
    float: right; 
    max-width: 60%;
    margin-left: 20px;
    margin-right: 40px;
    margin-bottom: 32px;     
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid black;
    background-color: #333;
}
            
nav li {
    float: left;
}
            
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
            
nav li a:hover:not(.active) {
    background-color: teal;
}
            
nav .active {
    background-color: black;
}

header nav ul {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: #333;
}

header nav ul li a:hover {
    background-color: teal
}

footer nav ul li a {
    color: #ffffff;
}
  
footer nav ul li a:hover {
    background-color: black
}
  
footer#page-footer {
    padding: 32px 0;
    margin-top: 64px;
    text-align: center;
    background-color: teal;
    color: #ffffff;
}

.skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
  
.skip:focus {
    position: static;
    width: auto;
    height: auto;
}
 
