h1 {
    color: #0068fa;
    font-family: sans-serif;
    font-size: 72px;
    letter-spacing: -1px;
    margin-top: 0;
    margin-bottom: .125em;
    text-align: center;
  }
  
  body {
    color: teal;
    font-family: sans-serif;
  }

  p {
    line-height: 1.25;
    margin-bottom: 1.25em;
  }
  
  figure {
    border: 1px solid black;
    padding: 20px;
    padding-bottom: 20px;
  }
  
  fig img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  p img {
    float: right; 
    max-width: 60%;
    margin-left: 20px;
    margin-right: 40px;
    margin-bottom: 32px;     
  }

  nav ul {
    background-color: lightsalmon;
    list-style: none;
    padding: 0;
    width: 200px;
    border: 1px solid orangered;
  }

  nav ul li {
    border-bottom: 1px solid orangered;
    padding: 5px;
  }

  nav ul li:last-child {
    border-bottom: none;
  }

  nav ul li a {
    font-weight: bold;
    color: teal;
    text-decoration: none;
  }

  nav ul li a:hover {
    text-decoration: underline;
  }